<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div class="row" id="tasks">
      </div>
      <form id="new_task">
        <input id="task_content" type="text" placeholder="New Task">
        <button type="submit" id="add_task" class="btn btn-primary mt-2">Add Task</button>
      </form>

    </div>
  </div>
</div>